*{
	margin: 0px;
}
body{
	background-color: #dedede;
}
header{
	margin: 0px;
	padding: 0px;
	background-color: #333;
	color: #fff;
}
/*更好排列方式
header nav{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
header nav li{
	display: inline-block;
	margin-left: 12px;
}*/
header a{
	color: #fff;
}
.active{
	color: #939393;
}
article{
	margin: 20px;
	padding: 20px; 
	background-color: #fff;
}
aside{
	margin: 20px;
	padding: 20px; 
	background-color: #fff;
}
footer{
	background: #000;
	color: #fff;
}