*{
	font-size:16px;
}
body{
	margin:0px; 
	background-color: #dedede;
}
h1{
	font-size:24px;
}
h2{
	color:#939393; 
}
/*导航*/
header{
	margin: 0px;
	padding: 0px;
	min-height: 70px;
	background-color: #333;
	color: #fff;
}
header>nav{
	margin-top: 12px;
	margin-right: 20px;
	float: right;
}
header nav ul li{
	display:inline;
	/*display: inline-block;*/
	margin-left:20px;
}
header a{
	color: #fff;
	text-decoration:none;
}
header a:hover{
	color: #ddd;
}
.active,.active a,.active a:hover{
	color: #939393;
}
header img{
	margin-left:40px;
	max-width:200px;
}
/*文章*/
article{
	margin: 20px;
	padding: 20px; 
	background-color: #fff;
}
article p{
	line-height: 30px;
	text-indent: 2em;
}
.tags,.tags time{
	color:#939393;
	font-size: 14px;
}
article ul li{
	list-style:none;
	line-height: 30px;
}
figure div{
	margin-bottom: 16px;
	padding: 8px;
	text-align: center;
	width: 180px;
	border:solid 1px #E3E3E3;
}
figure div img{
	margin-top:8px;
	max-width: 164px;
	height: auto;
}
aside{
	margin: 20px;
	padding: 20px; 
	background-color: #fff;
}
footer{
	background: #000;
	color: #fff;
}