*{
	font-size:16px;
}
.text-right{text-align:right}
.col-sm-4,.col-sm-8{float:left;}
body{
	margin:0px; 
	background-color: #dedede;
}
h1{
	font-size:24px;
}
h2{
	color:#939393; 
}
/*导航*/
header{
	margin: 0px;
	padding: 0px;
	min-height: 70px;
	background-color: #333;
	color: #fff;
}
header>nav{
	margin-top: 12px;
	margin-right: 20px;
	float: right;
}
header nav ul li{
	display:inline;
	/*display: inline-block;*/
	margin-left:20px;
}
header a{
	color: #fff;
	text-decoration:none;
}
header a:hover{
	color: #ddd;
}
.active,.active a,.active a:hover{
	color: #939393;
}
header img{
	margin-left:40px;
	max-width:200px;
}
/*文章*/
article{
	margin: 20px;
	padding: 20px; 
	background-color: #fff;
}
article p{
	line-height: 30px;
	text-indent: 2em;
}
.tags,.tags time{
	color:#939393;
	font-size: 14px;
}
article ul li{
	list-style:none;
	line-height: 30px;
}
figure div{
	margin-bottom: 16px;
	padding: 8px;
	text-align: center;
	width: 180px;
	border:solid 1px #E3E3E3;
}
figure div img{
	margin-top:8px;
	max-width: 164px;
	height: auto;
}
/*table's style*/
article table{
	width: 100%;
	text-align: left;
	border-collapse:collapse;
	border: solid #999;
	border-width:1px; 
}
article table th{
	border:solid #999;
	border-width:0 1px 1px 0;
	padding-left:5px;
}
article table td {
	padding-left:5px;
	background-color: #A7A7A7;
	font-weight: 800;
} 
article table thead{
	color: #fff;
	background-color: #000;
}
/*侧栏*/
aside{
	margin: 20px;
	padding: 20px; 
	background-color: #fff;
}
aside h1{
	padding:8px 0 8px 12px;
	border-left: solid 5px #898989;
	font-size:16px; 
}
aside form{
	width: 100%
}
.col-sm-4{width: 33.33333333%;}
.col-sm-8{width: 66.66666667%;}
aside form span{
	padding-top: 12px;
	font-size: 12px;
	color: #898989;
}
aside form div{
	line-height:30px;
}
aside form textarea{
	width: 96%
}
.inputSubmit{
	width: 100%;
	background-color: #337ab7;
	border-color: #2e6da4;
	color: #fff;
	padding-top:10px;
	padding-bottom:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.inputSubmit:focus,.inputSubmit:hover{
	background-color: #3390b7;
}

footer{
	background: #000;
	color: #fff;
}